html{
  background-color: #3A69B7;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
} 
body {
  margin: auto;
  padding: 0;
  background:#FFF;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
div#main {
  margin: auto;
  padding: 0 20px 20px;
  background:#3A69B7;
}
a {
  background: transparent;
  color: #3A69B7;
  text-decoration: underline;
  font-weight: bold;
}
h1 {
  color: #3A69B7;
  font-size: 150%;
  font-style: italic;
  display: block;
  width: 100%;
  text-align: center;
}
h4 {
  color: #3A69B7;
  font-size: 90%;
  display: block;
  width: 100%;
  text-align: center;
}
#leaderboards {
  margin: auto;
  border-collapse: collapse;
  width: 99.9%;
  border: 2px solid #3A69B7;
}
#leaderboards th {
  border: 2px solid #3A69B7;
  font-weight: bold;
  background-color: #FFE033;
  color: #3A69B7;
}
#leaderboards th, #leaderboards td {
  padding: 4px;
  text-align: center;
  border: 2px solid #3A69B7;
  color: #3A69B7;
  font-weight:bold;
}
#pokemon {
  margin:auto;
  border-collapse: collapse;
  width: 99.9%;
  border: 2px solid #3A69B7;
}
#pokemon th {
  border: 2px solid #3A69B7;
  font-weight: bold;
  background-color: #FFE033;
  color: #3A69B7;
}
#pokemon th, #pokemon td {
  padding: 4px;
  text-align: center;
  word-wrap: break-word;
  color:#3A69B7;
  font-weight: bold;
  border: 2px solid #3A69B7;
}
#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}
form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: #3A69B7;
}
.Logo{
  display: block; 
  margin: auto; 
  max-width: 50%;
  max-height:50%;
}

.signuplogin{
  background-color:#FFE033; 
  color:#3A69B7; 
  font-weight:bold;
  float:left;
  position:relative;
  width:33.3%;
}
.allpokemon{
  background-color:#FFE033; 
  color:#3A69B7; 
  font-weight:bold;
  float:left;
  width:33.3%;
	position:relative;
}
.search_button{
  background-color:#FFE033; 
  color:#3A69B7; 
  font-weight:bold;
  float:right;
  width:33.3%;
  position: relative;
}
.pokemon_of_the_day{
  background-color:transparent;
  margin-left: auto;
  margin-right:auto;
  display:block;
  max-height:25%;
  max-width:25%;
}
.poke_db_pic{
  max-height:35%;
  max-width:35%;
  margin:auto;
  display:block;
}